.tarjeta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 15rem;
  text-align: center;
  border-radius: 10%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.tarjeta:hover {
  transform: scale(1.1);
  z-index: 10;
}

.tarjeta__imagen {
  position: relative;
  max-height: 230px;
}

.tarjeta__imagen-background {
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tarjeta__imagen-icono {
  position: absolute;
  width: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  z-index: 10;
}

.tarjeta:hover .tarjeta__imagen-icono {
  -webkit-animation: float 2s linear infinite backwards;
  animation: float 2s linear infinite backwards;
}

.tarjeta__parrafo {
  padding: 1rem;
  font-size: .9rem;
}

.btn {
  text-decoration: none;
}

.btn:hover {
  color: black;
}

.tarjeta__titulo {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 1.1rem;
}
